In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegressionCV

In [2]:
#loading training and testing data 
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
data = train.append(test)
data.head()

C:\Users\WolverineX\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [4]:
data.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [5]:
# data cleaning
data.Age.fillna(data.Age.mean(), inplace = True)
data.Fare.fillna(data.Fare.mean(), inplace = True)
data.Embarked.fillna(data.Embarked.value_counts().idxmax(), inplace = True)
data.Survived.fillna(-1, inplace = True)

data.drop('Cabin', axis = 1, inplace = True)
data.drop('Name', axis = 1, inplace = True)
data.drop('PassengerId', axis = 1, inplace = True)
data.drop('Ticket', axis = 1, inplace = True)

In [6]:
data.isnull().sum()

Age         0
Embarked    0
Fare        0
Parch       0
Pclass      0
Sex         0
SibSp       0
Survived    0
dtype: int64

In [7]:
# converting categorical attribute Sex to numeral value
def func_Sex(s):
    if s == 'male':
        return 0
    return 1
data['Gender'] = data['Sex'].apply(func_Sex)
data.drop('Sex', axis = 1, inplace = True)
data.head()

    Age Embarked     Fare  Parch  Pclass  SibSp  Survived  Gender
0  22.0        S   7.2500      0       3      1       0.0       0
1  38.0        C  71.2833      0       1      1       1.0       1
2  26.0        S   7.9250      0       3      0       1.0       1
3  35.0        S  53.1000      0       1      1       1.0       1
4  35.0        S   8.0500      0       3      0       0.0       0

In [8]:
# converting categorical attribute Embarked to numeral value
def func_Embark(s):
    if s == 'S':
        return 0
    elif s == 'C':
        return 1
    else:
        return 2
data['Embark'] = data['Embarked'].apply(func_Embark)
data.drop('Embarked', axis = 1, inplace = True)
data.head()

    Age     Fare  Parch  Pclass  SibSp  Survived  Gender  Embark
0  22.0   7.2500      0       3      1       0.0       0       0
1  38.0  71.2833      0       1      1       1.0       1       1
2  26.0   7.9250      0       3      0       1.0       1       0
3  35.0  53.1000      0       1      1       1.0       1       0
4  35.0   8.0500      0       3      0       0.0       0       0

In [9]:
# saving cleaned data to respective csv files
train = data[data['Survived'] != -1]
train.to_csv('train_clean.csv', index = False)

test = data[data['Survived'] == -1]
test.drop('Survived', axis = 1, inplace = True)
test.to_csv('test_clean.csv', index = False)

C:\Users\WolverineX\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [10]:
# loading cleaned data
train = pd.read_csv('train_clean.csv')
test = pd.read_csv('test_clean.csv')

In [11]:
train_y = train.pop('Survived')
train_x = train.values

test_x = test.values

In [12]:
# adding dummy data
df = pd.DataFrame(train_x)
N = df.shape[1]
count = N
for i in range(N):
    for j in range(i, N):
        df[count] = df[df.columns[i]] * df[df.columns[j]]
        count += 1
        
train_x =df.values

df = pd.DataFrame(test_x)
N = df.shape[1]
count = N
for i in range(N):
    for j in range(i, N):
        df[count] = df[df.columns[i]] * df[df.columns[j]]
        count += 1
        
test_x =df.values

In [13]:
# training data
clf = LogisticRegressionCV(cv = 5, random_state=5, max_iter = 10000)
clf.fit(train_x, train_y)
test_y_pred = clf.predict(test_x).astype(int)

In [14]:
clf.score(train_x, train_y)

0.8282828282828283

In [15]:
# inserting PassengerId in test predictions
l = []
s = train_x.shape[0]
s
for i in range(1,len(test_y_pred)+1):
    l.append(i+s)
submission = pd.DataFrame({"PassengerId": l, "Survived": test_y_pred})
submission.to_csv('submission.csv', index=False)